
<section class="content-ambassador_register lg:pt-28 pb-60 pt-64 text-white">
    <div class="bg-primary form-ambassador lg:w-2/6 mx-auto pb-8 pt-4 px-6">
        <h3 class="font-bold leading-none mt-4 text-lg tracking-wider">Iniciar Sesión</h3>

        {{ form.name }}
        {{ form.pass }}
        
        
        {{ form.submit }}
        {{ form.actions }}
        {{ form.form_build_id }}
        {{ form.form_token }}
        {{ form.form_id }}
        <a class="block m-auto mt-4 text-center text-xs hover:sso-underline" href="/embajadores/custom-password"> Recordar Contraseña </a>
    </div>
</section>
